.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
.darth{
  width: 400px;
  float: left;
  border-radius: 100%;
}
.darth2{
  width: 400px;
  float: right;
  border-radius: 100;
}

body {
  background-color: #000000;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #EADEDE;
}

p {
  font-size: 2rem;
  color: #EADEDE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
